<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>count3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DC47BC01C5F9BCA000FB9EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DC47BD41C5F9BCA000FB9EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DC47BDF1C5F9BCB000FB9EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
